VITE_API_URL=http://127.0.0.1:8000
VITE_GOOGLE_CLIENT_ID=


PlainPassword=Admin@1234
HashedPassword=$2b$10$yAJWpFOoimUPak03X1zApOlPQFlYQmjSUJEuoCqh.92FO1b6hRRa2

INSERT INTO users (fullName, email, password, role)
VALUES ('Admin', 'admin@gmail.com', '$2b$10$yAJWpFOoimUPak03X1zApOlPQFlYQmjSUJEuoCqh.92FO1b6hRRa2', 'ADMIN');