DATABASE_URL="postgresql://postgres:postgres@localhost:5432/auth"
PORT=5000
BASE_URL=http://localhost:5000
NODE_ENV=development

# JWT Configuration
JWT_SECRET=996e09f21276b455c1df17fb9151b62c2fe37cf3080a04f2cbdda16439a817a14b01eed633f01f6fcc87067ccfecdf4ae522ab537db3d82f4171e904200dbb61
JWT_EXPIRE=7d
JWT_REFRESH_SECRET=a1f5e8c3b4d6e7f8901234567890abcdef1234567890abcdef1234567890abcd
JWT_REFRESH_EXPIRE=30d

# Email Configuration (Gmail)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=abhishekk.75way@gmail.com
SMTP_PASSWORD=
EMAIL_FROM=abhishekk.75way@gmail.com
